#root {
  margin: 0 auto;
  text-align: center;
}

body {
  font-family: "Suite"
}

td {
  border: 1px solid black;
  padding: 0;
  height: 7mm;
  text-align: start;
  padding-left: 2mm;
}

@media print {
  body * {
    visibility: hidden;
  }
  .printPage * {
    visibility: visible;
  }
  .printPage {
    position: absolute;
    left: 0;
    top: 0;
  }
}